/* --- Flex styles --- */
#wpbody-content .flex
{
   display:flex;
   flex-flow:row wrap;
   justify-content:flex-start;
   align-items:flex-start;
}
#wpbody-content .flex.col
{
   flex-flow:column;
}

#wpbody-content .flex.start 
{
   justify-content:flex-start;
}
#wpbody-content .flex.center
{
   justify-content:center;
}
#wpbody-content .flex.end
{
   justify-content:flex-end;
}
#wpbody-content .flex.between
{
   justify-content:space-between;
}
#wpbody-content .flex.around
{
   justify-content:space-around;
}
#wpbody-content .flex.evenly
{
   justify-content:space-evenly;
}

#wpbody-content .flex.x-start 
{
   align-items:flex-start;
}
#wpbody-content .flex.x-center
{
   align-items:center;
}
#wpbody-content .flex.x-end
{
   align-items:flex-end;
}
#wpbody-content .flex.x-stretch
{
   align-items:stretch;
}

/* flex quasitable */
#wpbody-content .table
{
   display:flex;
   flex-flow:column;
   justify-content:flex-start;
   align-items:stretch;
}

#wpbody-content .table>.row,
#wpbody-content .table>.row>.group
{
   display:flex;
   flex-flow:row wrap;
   justify-content:flex-start;
   align-items:stretch;
}

#wpbody-content .table>.row .cell
{
   flex:0 1 auto;
   padding:0.2em 0.5em;
}

/* Single inputs */
#wpbody-content  td>label:only-child>span /*Experimental. Hides duplication of the title for fields with a single input.*/
{
   display:none;
}

/* Structured data list */
#wpbody-content .struct_data>.items
{
   display:flex;
   flex-flow:column;
   gap:1em;
}

#wpbody-content .struct_data>.items>.item
{
   display:flex;
   flex-flow:row wrap;
   align-items:flex-start;
   padding:1em;
   gap:1em;
   border:1px solid #CCCCCC;
}

#wpbody-content .struct_data>.items>.item label>:is(input,textarea,select)
{
   min-width:3em;
}

#wpbody-content .struct_data>.items>.item>button.del
{
   align-self:center;
   font-weight:bold;
   color:#C70A0A;
   border-color:#C70A0A;
   border-radius:0.25em;
   background:#CC181820;
}

/* Placemarks */
#wpbody-content .struct_data.placemarks>.items>.item label
{
   display:grid;
   grid-template:'c' auto 'i' 1fr;
   gap:0.25em;
}
#wpbody-content .struct_data.placemarks>.items>.item label.address
{
   grid-template:'c c' auto 'i b' 1fr/1fr auto;
}

#wpbody-content .struct_data.placemarks>.items>.item .coords
{
   display:flex;
   flex-flow:row;
   align-items:flex-end;
   gap:0.25em;
}

#wpbody-content .struct_data.placemarks>.items>.item label>.caption
{
   grid-area:c;
}
#wpbody-content .struct_data.placemarks>.items>.item label>:is(input,textarea)
{
   grid-area:i;
}
#wpbody-content .struct_data.placemarks>.items>.item :is(label,.coords)>button
{
   grid-area:b;
   width:auto;
   height:auto;
}

/* MediaList */
#wpbody-content .struct_data>.items>.item>label.media>.image
{
   position:relative;
}

#wpbody-content .struct_data>.items>.item>label.media>.image>button.set_image
{
   position:relative;
   padding:0.5em 0.5em;
   border:1px solid #666666;
   background:none #0000000F;
}
#wpbody-content .struct_data>.items>.item>label.media>.image>button.set_image:has(img)
{
   width:5em;
   height:4em;
}

#wpbody-content .struct_data>.items>.item>label.media>.image>button.set_image>img
{
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   object-fit:contain;
   object-position:center;
}

#wpbody-content .struct_data>.items>.item>label.media>.image>button.unset_image
{
   position:absolute;
   top:0;
   right:0;
   height:2em;
   width:2em;
   padding:0.5em;
   font-size:120%;
   line-height:1;
   color:#d41b1f;
   border-radius:0.5em;
   border:none;
   background:none #d41b1f20;
   opacity:0.6;
}
#wpbody-content .struct_data>.items>.item>label.media>.image>button.unset_image:hover
{
   background:none #d4abaf;
   opacity:1;
}

#wpbody-content input.close[type='button']
{
   color:#C70A0A;
   font-weight:bold;
}