/* --- Flex styles --- */
#wpbody-content .flex
{
   display:flex;
   flex-flow:row wrap;
   justify-content:flex-start;
   align-items:flex-start;
}
#wpbody-content .flex.col
{
   flex-flow:column;
}

#wpbody-content .flex.start 
{
   justify-content:flex-start;
}
#wpbody-content .flex.center
{
   justify-content:center;
}
#wpbody-content .flex.end
{
   justify-content:flex-end;
}
#wpbody-content .flex.between
{
   justify-content:space-between;
}
#wpbody-content .flex.around
{
   justify-content:space-around;
}
#wpbody-content .flex.evenly
{
   justify-content:space-evenly;
}

#wpbody-content .flex.x-start 
{
   align-items:flex-start;
}
#wpbody-content .flex.x-center
{
   align-items:center;
}
#wpbody-content .flex.x-end
{
   align-items:flex-end;
}
#wpbody-content .flex.x-stretch
{
   align-items:stretch;
}

/* flex quasitable */
#wpbody-content .table
{
   display:flex;
   flex-flow:column;
   justify-content:flex-start;
   align-items:stretch;
}

#wpbody-content .table>.row,
#wpbody-content .table>.row>.group
{
   display:flex;
   flex-flow:row wrap;
   justify-content:flex-start;
   align-items:stretch;
}

#wpbody-content .table>.row .cell
{
   flex:0 1 auto;
   padding:0.2em 0.5em;
}

/* Single inputs */
#wpbody-content  td>label:only-child>span /*Experimental. Hides duplication of the title for fields with a single input.*/
{
   display:none;
}

/* MediaList */
#wpbody-content .media_selector,
#wpbody-content .media_selector>label,
#wpbody-content .media_selector>label.media /*Fix overrde by the #wpbody-content .postbox label.*/
{
   display:flex;
   flex-flow:row;
   justify-content:flex-start;
   align-items:center;
}

#wpbody-content .media_selector
{
   flex:0 1 33em;
}

#wpbody-content .media_selector>label
{
   flex:0 0 auto;
   margin-right:1em;
}
#wpbody-content .media_selector>label.media
{
   flex:0 1 34em;
}

#wpbody-content .media_selector>.close
#wpbody-content .media_selector>label>*,
{
   display:inline-block;
   flex:0 0 auto;
}

#wpbody-content .media_selector>label.media>.glyph,
#wpbody-content .media_selector>label:not(.media)>input
{
   margin-left:0.25em;
}

#wpbody-content .media_selector>label.media>.glyph
{
   flex:0 0 3em;
   height:2.5em;
}
#wpbody-content .media_selector>label.media>.glyph>img
{
   max-height:100%;
   max-width:100%;
}

#wpbody-content .media_selector>label.media>.url
{
   flex:1 1 15em;
   align-self:stretch;
   display:flex;
   flex-flow:row;
   justify-content:flex-start;
   align-items:center;
   overflow:hidden;
   padding:0.5em 0.25em;
   background:none #F5F5F5;
}
#wpbody-content .interface-interface-skeleton__sidebar .media_selector>label.media>.url
{
   display:none;
}

#wpbody-content input.close[type='button']
{
   color:#C70A0A;
   font-weight:bold;
}